.Accordion1 {
  align-items: center;
  min-width: fit-content;
}

.Accordion1 .default,
.Accordion1 .collapsed {
  position: relative;
  max-height: calc(100vh - 4rem);
  overflow: scroll;
  transition: all 1s;
  flex-shrink: 0;
}

.Accordion1 > .🁣 {
  min-width: 20rem;
}

.Accordion1 .Present {
  min-width: 100vw;
  justify-content: center;
}

.Accordion1 .Center {
  width: 100vw;
  overflow: scroll;
  flex-shrink: 0;
  padding: 0 2rem;
  position: relative;
  z-index: 1;
}

.Accordion1 .west,
.Accordion1 .east {
  position: relative;
  z-index: 2;
  margin: -1.5rem -2rem;
}

.Accordion1 .east {
  background: rgba(0, 0, 0, 0.5);
}

.Accordion1 .Center .🀱.hasBody {
  min-width: 21rem;
}

.Accordion1 .west {
  justify-content: flex-end;
}

.Accordion1 .east {
  justify-content: flex-start;
}

.Accordion1 .🀱:not(.hasBody) {
  /* rotated text */
  writing-mode: vertical-rl;
}

.Accordion1 .F {
  background: rgba(255, 255, 255, 0.1);
}

.Accordion1 .P {
  /* background: rgba(0, 0, 255, .8) */
  /* outline       : 1px dashed blue;
  outline-offset: -1px; */
  background: rgba(255, 255, 255, 0.1);
  overflow: visible;
  outline: none;
}

.Accordion1 .P H1 {
  overflow: visible;
  white-space: nowrap;
}

.Accordion1 .p {
  background: rgba(255, 255, 255, 0.1);
}

.Accordion1 .B > a {
  background: hsl(0, 0%, 10%);
  height: fit-content;
  outline: none;
  mix-blend-mode: lighten;
}

.Accordion1 .two-wide {
  width: 42rem rem;
  max-width: calc(100vw - 4rem);
}

.Accordion1 .grow {
  flex-grow: 1;
  max-width: calc(100vw - 4rem);
}
