.overlay .deleteArticle > summary {
  background: black;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  white-space: nowrap;
}
.overlay .deleteArticle > div {
  display: flex;
  flex-direction: column;
  background: orangered;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
  outline: 1.5px double black;
}
.overlay .deleteArticle[open] > summary::marker {
  content: "cancel deletion: ";
}
.overlay .deleteArticle[open] {
  background: black;
}
.overlay .deleteArticle button {
  max-width: 50%;
}
.overlay details {
  transform: translate(calc(var(--unit) / 2), calc(0px - var(--unit) / 2));
  position: absolute;
  right: 0;
  bottom: 0rem;
  text-align: right;
}
.overlay > button {
  width: var(--unit);
  height: var(--unit);
  border-radius: 50%;
  margin: calc(0px - var(--unit) / 2);
  border: 0.5px dashed orangered;
  background: rgba(0, 0, 0, 0.01);
  box-sizing: border-box;
  font-size: 1rem;
  color: white;
  transition: all 0.2s;
  mix-blend-mode: screen;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay > button > span {
  height: 2rem;
  width: 2rem;
  line-height: 1.9rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  display: block;
  background: rgba(0, 0, 0, 0.01);
  color: orangered;
}
.overlay button:hover {
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.9);
  cursor: cell;
}
.overlay button:hover > span {
  background: orangered;
  color: black;
}

#activityLog {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100vh;
  overflow: scroll;
  background: rgb(142, 54, 10);
  opacity: 0.95;
  z-index: 10;
}
#activityLog > ol {
  padding-bottom: 6rem;
}
#activityLog > ol > li > pre {
  font-size: 0.7em;
  line-height: 1em;
}

input[type="radio"]:focus + span {
  outline: 2px solid yellow;
}

.sheet {
  font-family: "subarumedium";
  position: fixed;
  width: var(--column);
  left: 50vw;
  bottom: 0;
  margin-left: calc(0px - var(--column) / 2);
  background: orangered;
  color: black;
  border: 2px double black;
  z-index: 9;
  outline: 1rem solid rgba(0, 0, 0, 0.3);
  outline-offset: 0.5px;
}
.sheet .editCaption {
  display: flex;
}
.sheet .editCaption > input {
  flex-grow: 1;
}
.sheet .editCaption > fieldset {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.sheet fieldset {
  margin: 0 -1.5px;
}
.sheet input.link {
  width: 100%;
  box-sizing: border-box;
}
.sheet .remove {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.sheet .add {
  width: 100%;
}
.sheet .add,
.sheet .remove {
  background: black;
  color: orangered;
  border: none;
}
.sheet .add:hover,
.sheet .remove:hover {
  color: white;
}
.sheet ul.occasions {
  list-style-type: none;
  padding: 0;
}
.sheet ul.occasions .occasion {
  position: relative;
}
.sheet ul.occasions .occasion .edit label {
  display: block;
}
.sheet ul.occasions .occasion .edit label span {
  display: inline-block;
  min-width: 3rem;
}
.sheet .dates .remove {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.sheet .dates .add {
  width: 100%;
}
.sheet .dates .add,
.sheet .dates .remove {
  background: black;
  color: orangered;
  border: none;
}
.sheet .dates .add:hover,
.sheet .dates .remove:hover {
  color: white;
}

.pick,
.pickOrNot {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  border: none;
  position: relative;
}
.pick > label,
.pickOrNot > label {
  position: relative;
  cursor: pointer;
  text-align: center;
  min-width: 2rem;
  transition: all 0.1s;
}
.pick > label > span,
.pickOrNot > label > span {
  font-weight: bold;
  display: block;
  transition: all 0.2s;
  border-radius: 1rem;
  padding: 0 0.5rem;
}
.pick > label > input,
.pickOrNot > label > input {
  width: 1rem;
  height: 1rem;
  margin: -0.5;
  opacity: 0;
  padding: 0;
  border: 0;
  position: absolute;
}
.pick > label > input:checked ~ span,
.pickOrNot > label > input:checked ~ span {
  background: var(--active-background);
  color: var(--active-foreground);
}
.pick > label > input:not(:checked) ~ span,
.pickOrNot > label > input:not(:checked) ~ span {
  background: var(--background);
  color: var(--foreground);
}
.pick > label:hover > input:not(:checked) ~ span,
.pickOrNot > label:hover > input:not(:checked) ~ span {
  outline: 1px dashed var(--active-background);
  outline-offset: -1px;
}

.deleteArticle > summary::marker {
  content: "...";
}

.deleteArticle[open] > summary::marker {
  content: "Cancel";
}

summary,
button:enabled,
a:link[href] {
  cursor: pointer;
}

summary:disabled,
button:disabled,
a:link:not[href] {
  cursor: not-allowed;
}

.fill-h {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stretch-h {
  width: 100%;
  display: flex;
}

.no-break {
  display: flex;
}
.no-break > * {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.ui {
  --background: #ccc;
  --bevel: #ddd;
  --active-background: #075;
  --active-bevel: #186;
  --active-foreground: #efc;
  --mode-background: #bbb;
  --mode-bevel: #ccc;
  --mode-active-background: #999;
  --mode-active-bevel: #aaa;
  --foreground: black;
}

.ui,
.ui input {
  font-family: "subarumedium";
  font-size: 0.8rem;
}

button.ui {
  border: 2px solid transparent;
  background: transparent;
  box-sizing: border-box;
  min-height: 2rem;
}

button.ui:enabled:hover {
  border: 2px groove var(--bevel);
}

button.ui:enabled:active:hover {
  border: 2px inset var(--active-bevel);
  background: var(--active-background);
}

button.ui.square {
  width: 2rem;
  flex-grow: 0;
}

button.ui.stretching {
  flex-grow: 1;
}

button.ui[aria-checked="true"] {
  border: 2px groove var(--active-bevel);
  background: var(--active-background);
  color: var(--active-foreground);
}

button.ui.mode[aria-checked="true"] {
  border: 2px solid var(--background);
  background: var(--mode-background);
  color: var(--foreground);
}

button.ui.mode[aria-checked="true"]:enabled:hover {
  border: 2px groove var(--mode-bevel);
}

button.ui.mode:active {
  background: var(--mode-active-background);
  border: 2px inset var(--mode-active-bevel);
}

button.ui.mode[aria-checked="true"]:enabled:active {
  background: var(--mode-active-background);
  border: 2px inset var(--mode-active-bevel);
}

.sheet.ui {
  border-bottom-width: 0;
}

.control.ui {
  border-top-width: 0;
}

.flying.ui,
.control.ui,
.sheet.ui {
  background: var(--background);
  border: 2px outset var(--bevel);
  color: black;
}

fieldset.ui {
  padding-top: 0;
  border: 2px groove var(--bevel);
}
fieldset.ui > legend {
  margin-bottom: -0.5rem;
}

.sheet.ui > fieldset {
  border-right: 2px groove grey;
  border-left: 2px groove white;
}

button.ui:first-child {
  margin-left: -2px;
  border-left-color: transparent;
}

button.ui:last-child {
  margin-right: -2px;
  border-right-color: transparent;
}

button.ui:first-child:hover {
  border-left-color: transparent;
}

button.ui:last-child:hover {
  border-right-color: transparent;
}

.ui input[type="checkbox"] {
  position: relative;
  top: 2px;
}

label.ui {
  padding: 0.3rem 0;
  display: block;
}
label.ui > input[type="text"] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border: 0.5px dotted white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 0.2s;
  padding: 0;
  margin: 0;
}
label.ui > input[type="text"]:hover {
  background: white;
  margin: 0;
  padding: 0.3rem 0;
  margin: -0.3rem 0;
}

.flying {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 11;
  outline: 1.5px double black;
}
.flying.right-aligned {
  right: -1rem;
}
.flying.bottom-aligned {
  bottom: 2rem;
}

.fly-orientation {
  position: relative;
  text-align: center;
  min-width: 2rem;
}

.fly-orientation > summary:hover {
  background: var(--mode-active-bevel);
}

.fly-orientation[open] > summary:not(:hover) {
  background: var(--mode-active-background);
  outline: 2px inset var(--mode-active-bevel);
}

.distance-holder {
  margin: auto 0;
  height: 0px;
  flex-grow: 1;
  border-top: 2px groove var(--bevel);
} /*# sourceMappingURL=ui.css.map */
