.overlay .deleteSegment > summary {
  background: black;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  white-space: nowrap;
}
.overlay .deleteSegment > div {
  display: flex;
  flex-direction: column;
  background: orangered;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
  outline: 1.5px double black;
}
.overlay .deleteSegment[open] > summary::marker {
  content: "cancel deletion: ";
}
.overlay .deleteSegment[open] {
  background: black;
}
.overlay .deleteSegment button {
  max-width: 50%;
}
.overlay details {
  transform: translate(calc(var(--unit) / 2), calc(0px - var(--unit) / 2));
  position: absolute;
  right: 0;
  bottom: 0rem;
  text-align: right;
}
.overlay > button {
  width: var(--unit);
  height: var(--unit);
  border-radius: 50%;
  margin: calc(0px - var(--unit) / 2);
  border: 0.5px dashed orangered;
  background: rgba(0, 0, 0, 0.01);
  box-sizing: border-box;
  font-size: 1rem;
  color: white;
  transition: all 0.2s;
  mix-blend-mode: screen;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay > button > span {
  height: 2rem;
  width: 2rem;
  line-height: 1.9rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  display: block;
  background: rgba(0, 0, 0, 0.01);
  color: orangered;
}
.overlay button:hover {
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.9);
  cursor: cell;
}
.overlay button:hover > span {
  background: orangered;
  color: black;
}

#activityLog {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100vh;
  overflow: scroll;
  background: grey;
  opacity: 0.9;
}

.sheet {
  font-family: "subarumedium";
  position: fixed;
  width: var(--column);
  left: 50vw;
  bottom: 0;
  margin-left: calc(0px - var(--column) / 2);
  background: orangered;
  color: black;
  border: 2px double black;
  padding-bottom: 1.5rem;
  z-index: 9;
  outline: 1rem solid rgba(0, 0, 0, 0.3);
  outline-offset: 0.5px;
}
.sheet .editCaption {
  display: flex;
  width: 100%;
}
.sheet .editCaption > input {
  flex-grow: 1;
}
.sheet .editCaption > fieldset {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.sheet fieldset {
  margin: 0 -1.5px;
}
.sheet summary:hover {
  background: rgba(0, 0, 0, 0.2);
}
.sheet input.link {
  width: 100%;
  box-sizing: border-box;
}
.sheet[open] > summary::marker {
  content: "OK";
}
.sheet > summary {
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  text-align: center;
  font-size: 0.7em;
  width: var(--column);
}
.sheet > summary::marker {
  content: "Segment Properties";
}
.sheet > summary:hover > span {
  max-width: var(--column);
}
.sheet > summary > span {
  max-width: 0px;
  transition: max-width 0.1s;
  overflow: hidden;
  display: inline-block;
  position: absolute;
}
.sheet fieldset {
  padding: 0;
  border: 1.5px groove orangered;
}
.sheet .remove {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.sheet .add {
  width: 100%;
}
.sheet .add,
.sheet .remove {
  background: black;
  color: orangered;
  border: none;
}
.sheet .add:hover,
.sheet .remove:hover {
  color: white;
}
.sheet ul.occasions {
  list-style-type: none;
  padding: 0;
}
.sheet ul.occasions .occasion {
  font-size: 0.7em;
  position: relative;
}
.sheet ul.occasions .occasion .edit label {
  display: block;
}
.sheet ul.occasions .occasion .edit label span {
  display: inline-block;
  min-width: 3rem;
}
.sheet .dates .remove {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.sheet .dates .add {
  width: 100%;
}
.sheet .dates .add,
.sheet .dates .remove {
  background: black;
  color: orangered;
  border: none;
}
.sheet .dates .add:hover,
.sheet .dates .remove:hover {
  color: white;
}
.sheet .pick,
.sheet .pickOrNot {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  border: none;
  position: relative;
}
.sheet .pick > label,
.sheet .pickOrNot > label {
  position: relative;
  transition: all 0.1s;
}
.sheet .pick > label > span,
.sheet .pickOrNot > label > span {
  font-weight: bold;
  font-size: 0.75rem;
  display: block;
  transition: all 0.2s;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}
.sheet .pick > label > input,
.sheet .pickOrNot > label > input {
  width: 1rem;
  height: 1rem;
  margin: -0.5;
  opacity: 0;
  padding: 0;
  border: 0;
  position: absolute;
}
.sheet .pick > label > input:checked ~ span,
.sheet .pickOrNot > label > input:checked ~ span {
  background: black;
  color: orangered;
  letter-spacing: -0.2px;
}
.sheet .pick > label > input:not(:checked) ~ span,
.sheet .pickOrNot > label > input:not(:checked) ~ span {
  cursor: pointer;
  background: orangered;
}
.sheet .pick > label:hover > input:not(:checked) ~ span,
.sheet .pickOrNot > label:hover > input:not(:checked) ~ span {
  outline: 0.5px solid black;
  outline-offset: -1px;
}/*# sourceMappingURL=ui.css.map */