.overlay {
    button {
        width: var(--unit);
        height: var(--unit);
        border-radius: 50%;
        margin: calc(0px - var(--unit) / 2);
        border: 0.5px dashed orangered;
        background: rgba(0, 0, 0, .01);
        box-sizing: border-box;
        font-size: 1rem;
        color: white;
        transition: all .2s;
        mix-blend-mode: screen;
        display: flex;
        align-items: center;
        justify-content: center;


        >span {
            height: 2rem;
            width: 2rem;
            line-height: 1.9rem;
            font-size: 1.4rem;
            border-radius: 1rem;
            display: block;
            background: rgba(0, 0, 0, .01);
            color: orangered;
        }
    }

    button:hover {
        transform: scale(1.1);
        background: rgba(0, 0, 0, .9);
        cursor: cell;

        >span {
            background: orangered;
            color: black;
        }
    }
}



.sheet {
    fieldset {
        margin: 0 -1.5px;
    }


    summary {
        &:hover {
            background: rgba(0, 0, 0, .2);
        }
    }

    input.link {
        width: 100%;
        box-sizing: border-box;
    }

    summary.collapseSheet {
        cursor: pointer;
        position: fixed;
        bottom: 0px;
        // left: calc(50vw - var(--column) / 2);
        // text-align: center;
        font-size: 0.7em;
        width: var(--column);

        &:hover {

            >span {
                max-width: var(--column);
            }
        }

        >span {
            max-width: 0px;
            transition: max-width .1s;
            overflow: hidden;
            display: inline-block;
            position: absolute;
        }

    }

    font-family: space_monoregular;
    position: fixed;
    width: var(--column);
    left: 50vw;
    bottom: 0;
    margin-left: calc(0px - var(--column) / 2);
    background: orangered;
    color: black;
    border: 2px double black;
    outline-offset: 1px;
    padding-bottom: 1rem;
    outline: 2px solid rgba(0, 0, 0, .3);


    fieldset {
        padding: 0;
        border: 1.5px groove orangered;
    }

    .remove {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }

    .add {
        width: 100%;
    }

    .add,
    .remove {
        background: black;
        color: orangered;
        border: none;

        &:hover {
            color: white;
        }
    }

    ul.occasions {
        list-style-type: none;
        padding: 0;

        .occasion {
            font-size: 0.7em;
            position: relative;



            .edit {
                label {
                    display: block;

                    span {
                        display: inline-block;
                        min-width: 3rem;
                    }
                }
            }
        }
    }

    .dates {


        .remove {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
        }

        .add {
            width: 100%;
        }

        .add,
        .remove {
            background: black;
            color: orangered;
            border: none;

            &:hover {
                color: white;
            }
        }
    }

    .pick,
    .pickOrNot {
        display: flex;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        border: none;
        position: relative;

        // justify-content: center;

        >label {
            position: relative;

            >span {
                font-weight: bold;
                font-size: 0.75rem;
                display: block;
                transition: all .2s;
                border-radius: 1rem;
                padding: .2rem .5rem;
            }

            >input {
                width: 1rem;
                height: 1rem;
                margin: -0.5;
                opacity: 0;
                padding: 0;
                border: 0;
                position: absolute;
            }

            >input:checked~span {
                background: black;
                color: orangered;
                letter-spacing: -.2px;
            }

            >input:not(:checked)~span {
                cursor: pointer;
                background: orangered;
            }

            transition:all .1s;

            &:hover>input:not(:checked)~span {
                outline: 0.5px solid black;
                outline-offset: -1px;
            }
        }
    }

}